.App {
  margin-top: 10%;
  text-align: center;
  font-size: xx-large;
  align-items: center;
  display: block;
  font-family: "Space Mono";
}

form {
  font-family: "Space Mono";
}

.Radio label{
  margin: 10px;
  text-align: center;
  display: inline-block;
  width: 400px;
}

.Form label{
  margin: 10px;
  text-align: right;
  display: inline-block;
  width: 150px;
}

.Form input {
    margin-left: 20px;
}